


<P id="notice"><% notice %></p>
 <h1> Get Spotty With It! </h1>
  <p> Below is a list of users that can vote on the weekly playlist</p>
  <br>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> | <%= link_to 'Go to Your Home Page', users_show_path(current_user) %> | <%= link_to 'Search for Songs', search_path %> | <%= link_to "This Week's Suggestions", songs_index_path %>
  <br>
  <br>
  -----------------------------------------------------------------------------
  <br>

  <ul>
      <% @users.each do |user| %>
      <li><%= user.email %></li>
      <%end%>
  </ul>

-------------------------------------------------------------------------------