<p class="notice"><%= notice %></p>

<h1> Profile Menu </h1>
<br>

  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> | <%= link_to "Users Index", users_index_path %> | <%= link_to 'Search for Songs', search_path %> | <%= link_to "This Week's Suggestions", songs_index_path %>
  <br> <br>

  ---------------------------------


<p> Username: <%= @user.email %> </p>

<h3> Your Votes </h3>
<% if @user.join_votes.count > 0 %>
<ul>
  <% @user.join_votes.each do |g| %>
    <% song = Song.find(g.song_id.to_i) %>
    <li><%= song.title %> <%= song.artist %></li>
  <% end %>
</ul>
<% else %>
  <div>"You haven't voted for any songs!"</div>
<% end %>

 ------------------------------------
<br>




