

<%= link_to 'Go to Your Home Page', users_show_path(current_user) %> | <%= link_to "Songs Index", songs_index_path %>
<%= form_tag("/songs", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<%if @tracks%>

<% @tracks.each do |track| %>
<div>
Song Name: <%= track.name %> | Artist: <%=track.artists.first.name%> | Album: <%=track.album.name%> | <%=track.id%>

<%=button_to('Add', songs_path(:song => 
{:spotify_id=> track.id, :artist=>track.artists.first.name, :album => track.album.name, :title => track.name, :album => track.album}), method: :post)%>
</div>
<%end%>
<%end%>